#mapid {
    /* Fix height adjustment for later */
    min-height: 77vh;
    height: 100%;
    z-index: 0;

    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: darkgrey;
}

#mic {
    font-size: 26px;
    float: right;

    margin-top: 7px;
    margin-right: 10px;

    color: blue;
}

#mic:hover{
    cursor: pointer;

    color: dodgerblue;
    font-size: 27px;
}

.searchBarContainer {
    font-size: 18px;
    height: 40px;

    background: url(images/search_icon.png) no-repeat 10px 10px;
    background-size: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: calc(100% - 20px);

    margin: 10px 10px 0px 10px;
    padding: 0px 10px 0px 40px;

    border: 1px solid #ddd;
    border-radius: 20px;
}

.searchBar {
    font-size: 18px;
    height: 100%;
    width: calc(100% - 30px);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: none;
    outline: none;
}

.header {
    position: fixed;
    width: 100%;
    min-height: 50px;
    height: 50px;
    z-index: 1;

    top: 0;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.headerBtn {
    cursor: pointer;
    padding: 10px 10px 7px 10px;
    margin: 5px 10px 10px 20px;
    font-size: 25px;
    color: white;
}

.headerBtn:hover {
    border-bottom: 3px white solid;
}

.headerLeft {
    float: left;
}

.headerRight {
    float: right;
}

.filterSection {
    width: 200px;
}

.filterBox {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

    width: 210px;
    max-height: 630px;

    overflow: auto;

    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    border-radius: 10px;
}

.filterBoxItem {
    cursor: pointer;
    text-align: left;
    color: white;
    font-size: 16px;
    padding: 4px 10px 4px 10px;

    margin-left: 30px;
}

.filterBoxItemClick {
    width: calc(100% - 10px);

    text-align: left;
    float: left;
    color: white;
    font-size: 16px;

    padding: 6px 10px 6px 10px;
}

/*.filterBoxItemClick:hover{
    color: white;
}*/

.filterCheck {
    z-index: 1;
}

.filterCheck:hover {
    cursor: pointer;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: left;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
}

.mapDescTable {
    width: 100%;

    padding-right: 10px;
    margin-right: 10px;
}

.descBox {
    background: black;
    width: 250px;
    min-height: 77vh;

    border-radius: 10px;
    border-style: solid;
    border-color: #ddd;
    border-width: 1px;
    padding: 10px 10px 10px 10px;
    margin: 9px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 1px rgba(0, 0, 0, 0.1);

    display: none;
    float: right;
}

.closeBtn {
    color: lightgray;
    background-color: black;
    float: right;
    border: none;
    font-size: 20px
}

.closeBtn:hover{
    cursor: pointer;
    color: white;
}

.descBoxItemMain {
    width: 90%;
    float: left;

    text-align: left;
    color: lightgray;
    font-size: 16px;
    margin: 10px 10px 3px 10px;

    border-bottom: 1px lightgray solid;
}

.descBoxItem {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;

    text-align: left;
    color: lightgray;
    font-size: 16px;
    margin: 3px 10px 3px 10px;

    float: left;
}